fastapi
uvicorn
pydantic
python-dotenv
pymongo
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
langgraph
sentence-transformers
docx2txt
pypdf
